body 
{
    font-family: 'Prata', serif;
}
.all-text
{

    letter-spacing: 4px;
}
.first 
{
    display: flex;
    flex-direction: row;
}

.second 
{
    display: flex;
    flex-direction: row-reverse;
}
.head2
{
    text-align: right;
    margin-bottom: 100px;
}
.head4
{
    text-align: right;
    margin-bottom: 100px;
}

.text1
{
   margin-top:1px ;
   margin-left: 0px;
   margin-bottom: 20px;
   margin-right: 50px ;
}

.text2
{
    margin-top: 100px ;
    margin-left: 0px;
    margin-bottom:0px ;
    margin-right: 30px;
    text-align: right;

}

.img1
{
    margin-top: 60px ;
    margin-left: 580px;
    margin-bottom: 20px;
    margin-right: 0px;
}

.img2
{
    margin-top: 100px;
    margin-left: 0px;
    margin-bottom:100px ;
    margin-right: 580px;
}

.text3
{
   margin-top:1px ;
   margin-left: 0px;
   margin-bottom: 20px;
   margin-right: 1px ;
}

.text4
{
    margin-top: 100px ;
    margin-left: 0px;
    margin-bottom:0px ;
    margin-right: 30px;
    text-align: right;
}

.img3
{
    margin-top: 60px ;
    margin-left: 620px;
    margin-bottom: 20px;
    margin-right: 0px;
}

.img4
{
    margin-top: 100px;
    margin-left: 30px;
    margin-bottom:100px ;
    margin-right: 450px;
}

.third 
{
    display: flex;
    flex-direction: row;
}

.fourth 
{
    display: flex;
    flex-direction: row-reverse;
}

a:link, a:visited {
    background-color: transparent;
    color: black;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    color: #e2e2e2;
  }
  .arrow
{
    display: flex;
    flex-direction: row;
}
.arrow_right
{
    margin-top: 100px ;
    margin-left: 700px;
    margin-bottom:100px ;
    margin-right: 518px;

}
.arrow_left
{
    
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom:100px ;
    margin-right: 0px;
}