body 
{
    font-family: 'Prata', serif;
}
.all-text
{

    letter-spacing: 4px;
}
.first 
{
    display: flex;
    flex-direction: row;
    
}

.second 
{
    display: flex;
    flex-direction: row-reverse;
}
.head2
{
    text-align: right;
    margin-bottom: 100px;
}
.head4
{
    text-align: right;
    margin-bottom: 100px;
}

.text1
{
   margin-top:1px ;
   margin-left: 0px;
   margin-bottom: 20px;
   margin-right: 50px ;
}

.text2
{
    margin-top: 100px ;
    margin-left: 0px;
    margin-bottom:0px ;
    margin-right: 30px;
    text-align: right;

}

.img1
{
    /*margin-top: 60px ;
    margin-left: 580px;
    margin-bottom: 20px;
    margin-right: 0px;*/
  margin: 0;
  position: absolute;
  top: 41%;
  left: 82%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.img2
{
    /*margin-top: 100px;
    margin-left: 0px;
    margin-bottom:100px ;
    margin-right: 580px;*/
  margin: 0;
  position: absolute;
  top: 108%;
  left: 18%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.text3
{
   margin-top:1px ;
   margin-left: 0px;
   margin-bottom: 20px;
   margin-right: 1px ;
}

.text4
{
    margin-top: 0px ;
    margin-left: 0px;
    margin-bottom:0px ;
    margin-right: 30px;
    text-align: right;
}

.img3
{
    /*margin-top: 60px ;
    margin-left: 620px;
    margin-bottom: 0px;
    margin-right: 0px;*/
  margin: 0;
  position: absolute;
  top: 206%;
  left: 82%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.img4
{
    /*margin-top: 100px;
    margin-left: 30px;
    margin-bottom:100px ;
    margin-right: 450px;*/
  margin: 0;
  position: absolute;
  top: 274%;
  left: 18%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

.third 
{
    display: flex;
    flex-direction: row;
}

.fourth 
{
    display: flex;
    flex-direction: row-reverse;
}

a:link, a:visited {
    background-color: transparent;
    color: black;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    color: #e2e2e2;
  }
  .arrow
{
    display: flex;
    flex-direction: row;
}
.arrow_right
{
   /* margin-top: 100px ;
    margin-left: 700px;
    margin-bottom:100px ;
    margin-right: 518px;*/
    height: 200px;
    width: 100%;
}
.arrow_left
{
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
    /*margin-top: 100px;
    margin-left: 100px;
    margin-bottom:100px ;
    margin-right: 0px;*/
}



button {
    font-family: 'Prata', serif;
    background-color: #ffffff;
    border: none;
    color: #000000;
    font-size: 17px;
    padding: 7px 7px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6c6d6e;
  }



@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");

.movie-container {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.movie-container select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  padding: 5px 15px;
  margin-bottom: 40px;
  font-size: 14px;
  border-radius: 5px;
}

.container {
  perspective: 1000px;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seat {
  background-color: #737377;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.selected {
  background-color: #db9bab;
}

.occupied {
  background-color: #000000bd;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background: rgba(83, 81, 81, 0.521);
  padding: 5px 10px;
  border-radius: 5px;
  color: #000000;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

p.text {
  margin: 40px 0;
}

p.text span {
  color: #0081cb;
  font-weight: 600;
  box-sizing: content-box;
}

.credits a {
  color: #fff;
}
