body 
{
    font-family: 'Prata', serif;
}

.first 
{
    display: flex;
    flex-direction: row;
}

.second 
{
    display: flex;
    flex-direction: row-reverse;
}


.text1
{
   margin-top:1px ;
   margin-left: 50px;
   margin-bottom: 20px;
   margin-right: 50px ;
}

.text2
{
    margin-top: 100px ;
    margin-left: 0px;
    margin-bottom:100px ;
    margin-right: 30px;
    text-align: right;

}

.img1
{
    margin-top: 60px ;
    margin-left: 470px;
    margin-bottom: 20px;
    margin-right: 40px;
}

.img2
{
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom:100px ;
    margin-right: 500px;
}

.text3
{
   margin-top:1px ;
   margin-left: 50px;
   margin-bottom: 20px;
   margin-right: 1px ;
}

.text4
{
    margin-top: 100px ;
    margin-left: 0px;
    margin-bottom:100px ;
    margin-right: 30px;
    text-align: right;
}

.img3
{
    margin-top: 60px ;
    margin-left: 450px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.img4
{
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom:100px ;
    margin-right:600px;
}

.third 
{
    display: flex;
    flex-direction: row;
}

.fourth 
{
    display: flex;
    flex-direction: row-reverse;
}

a:link, a:visited {
    background-color: transparent;
    color: black;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    color: #e2e2e2;
  }
  .arrow-right
{
   text-align: right;
   margin-top:1px ;
   margin-left: 600px;
   margin-bottom: 20px;
   margin-right: 30px ;
}

